.main {
  padding: 24px 220px;
  display: flex;
  flex-direction: column;
  gap: 48px;

  @media screen and (max-width: 800px){
    padding: 24px 40px;
  }
}

.title-top {
  font-size: 26px;
  font-weight: 700;

  @media screen and (max-width: 800px){
    font-size: 20px;
  }
}

.title-bottom {
  font-size: 20px;
  color: #0F0F1080;

  @media screen and (max-width: 800px){
    font-size: 18px;
  }
}

.search-section {
  display: grid;
  grid-template-columns: auto minmax(300px, 1fr);
  align-items: center;
  column-gap: 126px;

  @media screen and (max-width: 1230px){
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.content {
  display: grid;
  grid-template-columns: 317px 1fr;
  column-gap: 24px;

  @media screen and (max-width: 1230px){
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}