.employer {
  font-size: 14px;
  color: #0F0F1080;
}

.format-Office {
  background-color: #0F0F101A;
  color: #0F0F1080;
  font-size: 9px;
  font-weight: 600;
  padding: 1px 6px;
  border-radius: 2px;
  text-transform: uppercase;
}

.format-remote {
  background-color: #4263EB;
  color: white;
  font-size: 9px;
  font-weight: 600;
  padding: 1px 6px;
  border-radius: 2px;
  text-transform: uppercase;
}

.format-hybrid{
  background-color: black;
  color: white;
  font-size: 9px;
  font-weight: 600;
  padding: 1px 6px;
  border-radius: 2px;
  text-transform: uppercase;
}

