.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.vacancies-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.vacancy {
  width: 100%;
}