html,
body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  height: 100%;
  font-family: Inter, sans-serif;
  background-color: #F6F6F7;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}